main {
    margin-top: 64px;
}

.titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.titulo h1 {
    font-size: 50px;
}

.titulo p {
    font-size: 25px;
}

.mis-vis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    place-items: center;
}

.content-mis-vis {
    padding: 0px 50px;
    text-align: center;
}

.content-mis-vis:first-child {
    border-right: 2px solid #272727;
}

.content-mis-vis h3 {
    font-size: 25px;
    padding: 20px;
}

.content-mis-vis p {
    font-size: 20px;
}

.text {
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.clientes {
    padding: 30px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 65px;
}

.colaborador {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.clientes img {
    height: 150px;    
    width: 150px;    
    border-radius: 100%;
}

.clientes p {
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
}

@media (min-width: 1200px){
    .clientes{
        gap: 150px;        
    }
    
    .clientes img {        
        height: 250px;
        width: 250px;
    }
}