.footer {
    background-color: #222831;
    color: #fff;

}

.footer-container {
    width: 100%;
    display: grid;
    place-items: center;
    width: 100%;    
    grid-template:
        "contact-form"
        "footer-info"
        "copyright"
    ;

    .contact-form {
        grid-area: contact-form;
    }

    .footer-info {
        grid-area: footer-info;
    }

    .copyright {
        grid-area: copyright;
    }

    @media (min-width:992px) {
        grid-template:
            "contact-form footer-info"
            "copyright copyright" /
            1fr 1fr
        ;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 70px;
    border-bottom: 3px solid #393E46;
}

.contact-form h3 {
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-group label {
    font-size: 15px;
}

.form-group input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #393E46;
    font-family: 'Roboto';
}

textarea::placeholder {
    color: white;
}

.form-group input::placeholder {
    color: white;
}

.submit-btn {
    background-color: #00ADB5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.submit-btn:hover {
    background-color: #222831;
    color: #00ADB5;
    border: 1px solid white;
}

/*Información*/
.footer-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 70px;
}

.img-footer {
    width: 100%;
    margin-bottom: 20px;
    justify-self: center;
    padding: 50px;
}

.footer-info p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    margin-top: 15px;
}

.social-icons a {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #393E46;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    border-top: 1px solid #393E46;
    padding-top: 20px;
    font-size: 13px;
}

@media (min-width:992px) {
    .contact-form {
        border-right: 3px solid #393E46;
        border-bottom: none;
    }
}